# Vendor files. Install with: $ composer update
/vendor
# Distribution files. These files are created on $ composer update
/public/dist
# Temporary files - where cache files are
/temp
# Log files
/log
# Environment file
.env
# Shell scripts
update-domain.sh
create-db.sql