{% extends "templates/app-full.tpl.html" %}

{% block body %}
<form method="post" action="/contacto">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Indique o seu nome" value="" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Indique o seu email" value="" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Assunto:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Indique o assunto da sua mensagem" value="" />
        </div>
    </div>
    <div class="form-group">
        <label>Mensagem:</label>
        <textarea class="form-control" rows="3" cols="80" id="message" name="message" placeholder="Escreva aqui a sua mensagem"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a href="/"><button type="button" class="btn btn-success">Voltar</button></a>
    <input type="hidden" name="{{ csrf_nameKey }}" value="{{ csrf_nameData }}">
    <input type="hidden" name="{{ csrf_valueKey }}" value="{{ csrf_valueData }}">
</form>
{% endblock %}
